
extensions:
	menu: DK\Menu\DI\Extension


menu:

	front:
		controlClass: App\FrontModule\Components\Menu\FrontMenuControl
		controlInterface: App\FrontModule\Components\Menu\IFrontMenuControlFactory
		translator: true

		items:
			Login:
				title: front.topmenu.login
				target: :Front:Sign:in
				allow:
					loggedIn: false
			Logout:
				title: front.topmenu.logout
				target: :Front:Sign:out
				allow:
					loggedIn: true
			Admin:
				title: front.topmenu.admin
				target: :Admin:Default:default
				allow:
					loggedIn: true
					roles: [editor, admin]

	Admin:
		controlClass: App\AdminModule\Components\Menu\AdminMenuControl
		controlInterface: App\AdminModule\Components\Menu\IAdminMenuControlFactory
		template:
			menu: %appDir%/AdminModule/components/menu/templates/menu.latte
			breadcrumb: %appDir%/AdminModule/components/menu/templates/breadcrumb.latte

		items:
			Config:
				title: Config
				target: :Admin:Config:default
				data: [icon=cog]
			Articles:
				title: Articles
				target: :Admin:Articles:default
				data: [icon=pencil]

			Categories:
				title: Categories
				target: :Admin:Categories:default
				data: [icon=sitemap]
				items:
					CategoriesArticles:
						title: Articles categories
						target: :Admin:Categories:articlesCategories
						data: [icon=circle-o]
					CategoriesProducts:
						title: Products categories
						target: :Admin:Categories:productsCategories
						data: [icon=circle-o]
