
{block content}

<div class="row xs-mar-ver-30">

	<div class="sidebar col-xs-12 col-sm-2">{control camoMenu}</div>

	<h1 class="col-xs-12 col-sm-10 xs-mar-bot-30 text-center">Hello! This is PDWeb sandbox.</h1>
	<div class="col-xs-12 col-sm-10">
		blaa aaa aaaa aaaaaaaaa aaaaaaaa aaaaaaaaaaa aaaa aaaaaaaa
	</div>

</div>


{/block}
