
{block content}

<div class="about">
	<a name="about"></a>
</div>

<div class="technologies">
	<a name="technology"></a>
</div>

<div class="about">
	<a name="contact"></a>
</div>

<h1 class="xs-pad-top-30 xs-pad-bot-30 center text-center">Hello! This is PDWeb sandbox.</h1>

{/block}
