
{block content}

<div class="row xs-mar-ver-30">

	{include '../sidebar.latte'}

	<div class="col-xs-12 col-sm-10">
		<h1 class="xs-mar-bot-30 text-center">Hello! This is PDWeb sandbox.</h1>
		<div class="">
			sandbox sandbox sandbox sandbox sandbox ..........
		</div>
	</div>

</div>


{/block}
