<script>
	window.info = {};
	window.info.basePath = {$basePath};
	window.info.baseUrl = {$baseUrl};
</script>
<script src="{$basePath}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{$basePath}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{$basePath}/bower_components/nette.ajax.js/nette.ajax.js"></script>
<script src="{$basePath}/bower_components/nette-live-form-validation/live-form-validation.js"></script>
<script src="{$basePath}/bower_components/froala-wysiwyg-editor/js/froala_editor.min.js"></script>
<script src="{$basePath}/bower_components/pickadate/lib/picker.js"></script>
<script src="{$basePath}/bower_components/pickadate/lib/picker.date.js"></script>
<script src="{$basePath}/adminassets/js/spinner.ajax.js"></script>
<script src="{$basePath}/adminassets/js/confirm.ajax.js"></script>
<script src="{$basePath}/adminassets/js/main.js"></script>