{ifset $sideBar}
	<div class="col-md-2 col-sm-2 sidebar">
		<ul class="nav nav-sidebar">
			{foreach $sideBar as $item}
				{if $item['url']}
					{ifset $item['param']}
						<li {if isset($show) && $show == $item['param']}class="active"{/if}><a n:href="$item['url'], $item['param']">{$item['title']}</a></li>
					{else}
						<li {ifCurrent $item['url']}class="active"{/ifCurrent}><a n:href="$item['url']">{$item['title']}</a></li>
					{/ifset}
				{/if}
			{/foreach}
		</ul>
	</div>
{/ifset}