@import "../../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css";
.navbar {
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  min-height: 70px;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  border: none;
}
.navbar .navbar-header .navbar-toggle {
  margin-top: 14px;
}
.navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: #000;
}
.navbar-default {
  box-shadow: none;
}
.navbar-default .navbar-nav li,
.navbar-default .navbar-nav li a {
  color: #000;
  line-height: 40px;
  text-shadow: none;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
}
.navbar-default .navbar-nav li.active,
.navbar-default .navbar-nav li a.active {
  background-color: #f7f7f7;
  color: #000;
}
.navbar-default .navbar-nav li:hover,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li:focus,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li:active,
.navbar-default .navbar-nav li a:active {
  background-color: #f7f7f7;
  color: #000;
}
.navbar-default .navbar-nav li.social-icon,
.navbar-default .navbar-nav li a.social-icon {
  display: inline-block;
}
.navbar-default .navbar-collapse {
  border: none;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus {
  border: none;
  background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
html,
body,
h1,
h2,
h3,
h4,
div,
ul,
ol,
li,
form {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #000;
  font-size: 20px;
}
#wrapper {
  position: relative;
  min-height: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  /* XS height of the footer element */
}
#content {
  min-height: 450px;
}
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 70px;
  /* XS height */
  line-height: 70px;
  font-size: 14px;
  text-align: center;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .xs-pad-top-30 {
    padding-top: 30px;
  }
  .xs-pad-bot-30 {
    padding-bottom: 30px;
  }
}
